---
layout: page.njk
pagination:
    data: posts
    size: 1
    alias: post
permalink: "post/{{ post.slug | slug }}/"
---

<h1>
    {{ post.title.rendered }} 
</h1>
<p>
    {{ post.content.rendered | safe }}
</p>