---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {# <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> #}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	<link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
	<script src="/scripts/index.js" type="module" defer></script>
  </head>
  <body>
	{% include 'Sidebar/Sidebar.njk' %}
	<main id="page">
		{{ content | safe }}
		<footer id="footer" class="u-light-text">&#169; Kathleen Monin {{ date }}</footer>
	</main>
  </body>
</html>