<div class="menu text-center">
		<div class="dropdown" id="dropdown-trigger">
			<div class="dropdown-trigger">
				<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
					<span class="icon is-small">
						<i class="fas fa-bars" aria-hidden="true"></i>
					</span>
				</button>
			</div>
			<div class="dropdown-menu">
				<ul class="menu-list dropdown-content">
					{% for menu__item in menu %}
						<ul>
							<a href={{ menu__item | lower }} class="menu-list dropdown-item">{{ menu__item }}</a>
						</ul>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>