---
layout: page.njk
pagination:
    data: stories
    size: 1
    alias: story
permalink: "story/{{ story.slug | slug }}/"
---

<section id="post">
	<img class="margin-b" src={{story['_embedded']['wp:featuredmedia']['0'].media_details.sizes.full.source_url}}>
	<h1 class="title is-2">
		{{ story.title.rendered }} 
	</h1>
	<article class="content">
		{{ story.content.rendered | safe }}
	</article>
</section>