<div class="sidebar">
    <img class="sidebar__logo" src={{ profile.acf.logo }}>
	<h5 class="title is-5 sidebar__tagline text-center is-hidden-touch">{{ profile.acf.blurb }}</h5>
	<figure class="image is-1by1">
		<img class="sidebar__image" src={{ profile.acf.image }}>
	</figure>
	{% include '../Menu/Menu.njk' %}
</div>